[package]
name = "tach"
version = "0.11.0"
edition = "2021"

[lib]
name = "tach"
crate-type = ["cdylib", "lib"]
bench = false

[dependencies]
pyo3 = "0.22.3"
regex = "1.10.6"
once_cell = "1.20.0"
walkdir = "2.5.0"
ruff_python_ast = { git = "https://github.com/astral-sh/ruff.git", tag = "v0.4.5" }
ruff_python_parser = { git = "https://github.com/astral-sh/ruff.git", tag = "v0.4.5" }
ruff_source_file = { git = "https://github.com/astral-sh/ruff.git", tag = "v0.4.5" }
cached = { version = "0.53.1", features = ["disk_store"] }
globset = "0.4.15"
toml = "0.8.19"
thiserror = "1.0.63"
serde = { version = "1.0.210", features = ["derive"] }
glob = "0.3.1"
petgraph = "0.6.5"
serde_json = "1.0.128"

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
pprof = { version = "0.13", features = ["flamegraph", "criterion"] }
rstest = "0.22.0"
