[package]
name = "tach"
version = "0.4.0"
edition = "2021"

[lib]
name = "tach"
crate-type = ["cdylib", "lib"]
bench = false

[dependencies]
pyo3 = "0.20.0"
regex = "1.10.4"
once_cell = "1.19.0"
ruff_python_ast = { path = "crates/vendored/ruff_python_ast" }
ruff_python_parser = { path = "crates/vendored/ruff_python_parser" }
ruff_source_file = { path = "crates/vendored/ruff_source_file" }

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
pprof = { version = "0.13", features = ["flamegraph", "criterion"] }

[[bench]]
name = "get_project_imports"
harness = false
