# Core deps (pinned)
pyyaml==6.0.1
pydantic==2.8.2
rich==13.7.1
prompt-toolkit==3.0.43
# Setup
pip==24.0
# Code Quality
pyright==1.1.367
ruff==0.4.1
# Build/Release
setuptools==69.5.1
twine==5.1.1
build==1.2.1
# Tests
pytest==8.2.2
pytest-mock==3.14.0
coverage==7.5.0
# Rust
maturin==1.5.1
