# Setup
pip==24.0
# Code Quality
pyright==1.1.365
ruff==0.4.1
# Build/Release
setuptools==69.5.1
twine==5.0.0
build==1.2.1
# Tests
pytest==8.1.1
pytest-mock==3.14.0
coverage==7.5.0
# Docs
mkdocs-material==9.5.18
# Rust
maturin==1.5.1
# LSP
pygls==1.3.1
nox==2024.4.15
pip==24.0
debugpy==1.8.1
PyHamcrest==2.1.0
python-jsonrpc-server==0.4.0